h1 {color: rebeccapurple; width: fit-content; font-size: 40px;}
body {background-image: url('https://media.istockphoto.com/id/465957607/vector/collection-of-cars-vector.jpg?s=612x612&w=0&k=20&c=9sdwzE_sBYclzWzrzpFBve7lowknP6BdAGsb8Sj4M-0=');
background-size: cover;}
